<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTS-IITI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container mt-5 pt-5">
        <div class="jumbotron d-flex flex-column text-center">
            <h1 class="text-center">EVENT ROUTES</h1>
            <hr>
            <div><a href="/past"><strong>PAST EVENTS</strong></a> (GET ROUTE)</div>
            <div><a href="/ongoing"><strong>ONGOING EVENTS</strong></a> (GET ROUTE)</div>
            <div><a href="/upcoming"><strong>UPCOMING EVENTS</strong></a> (GET ROUTE)</div>
        </div>

        <div class="jumbotron d-flex flex-column text-center">
            <h1 class="text-center">CREATE NEW EVENT</h1>
            <hr>
            <div><a href="/new"><strong>NEW</strong></a></div>
        </div>

        <div class="jumbotron d-flex flex-column text-center">
            <h1 class="text-center">EDIT EVENTS</h1>
            <hr>
            <div><a href="/past/edit"><strong>EDIT PAST EVENTS</strong></a></div>
            <div><a href="/ongoing/edit"><strong>EDIT ONGOING EVENTS</strong></a></div>
            <div><a href="/upcoming/edit"><strong>EDIT UPCOMING EVENTS</strong></a></div>
        </div>
    </div>
</body>

</html>